/* components/Sidebar.css */

.sidebar {
  width: 200px;
  height: 105%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #050505;
  padding: 20px;
  /* Add transition for smooth slide-in animation */
  transition: transform 0.3s ease;
}

/* Add a class to trigger the slide-in animation */
.sidebar.slide-in {
  transform: translateX(0);
}

.sidebar.slide-out {
  /* Slide out the sidebar when not active */
  transform: translateX(-100%);
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;

}

.sidebar-header h2 {
  font-size: 24px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  text-decoration: solid;
}

.sidebar-menu li {
  padding: 10px;
  cursor: pointer;
  color: #264653;
  font-family:Roboto, Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #3F4168;
  transition: background-color 0.2s ease;
}

.sidebar-menu li:hover {
  background-color: #457b9d;
}

.sidebar-menu li i {
  margin-right: 10px;
}
.dashboard-hd{
  color: #cccccc;
}

/* Font Awesome Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
